body {
    background-color: #282c34;
    color: #ffffff;
    font-size: 20px;
    font-family: Optima, sans-serif;
}

select {
    text-align: center;
    background: #ffffff;
    width: auto;
    font-size: inherit;
    color: #282c34;
    font-family: inherit;
    padding: 10px;
}

audio {
    padding: 15px;
}
audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

.center {
    text-align: center;
    align-items: center;
}

.confirm {
    border: 2px solid;
    padding: 5px;
    margin: 40px;
}

.confirm:hover {
    color: #e5c07b;
    cursor: pointer;
}
