body {
    background-color: #282c34;
    color: #ffffff;
    font-size: 20px;
    font-family: Optima, sans-serif;
}

select {
    text-align: center;
    background: #ffffff;
    width: auto;
    font-size: inherit;
    color: #282c34;
    font-family: inherit;
    padding: 10px;
}

#tanswer {
    text-align: center;
    background: #ffffff;
    font-size: inherit;
    color: #282c34;
    font-family: inherit;
    padding: 10px;
    width: 454px;
}

button {
    font-family: inherit;
    color: #282c34;
    padding: 10px;
    font-size: inherit;
    width: 95px;
}

audio {
    padding: 15px;
}
audio::-webkit-media-controls-time-remaining-display {
    display: none;
}

.option {
    padding: 0px;

}


.left {
    float: left;
    width: 25%;
}

.center {
    text-align: center;
    justify-content: center;
    float: left;
    width: 50%;
}

.right {
    float: left;
    width: 25%;
}

.halfa {
    float: left;
    width: 50%;
    text-align: right;
}

.halfb {
    float: left;
    width: 50%;
    text-align: left;
}

#selector {
    text-align: left;
}


